@model FormFieldModel

@* Add ability to control horizonal or vertical rendering *@

<div class="form-group">
    <label for="@Model.Name">@Model.Label</label>
    <input type="hidden" name="@Model.Name" value="false" />
    @if (Model.OptionsCategoryList.Count > 0)
    {
        foreach (var item in Model.OptionsCategoryList)
        {

            <div class="radio">
                <label>
                    <input type="radio" name="@Model.Name" value="@item.Value" @(Model.Value == item.Value ? "checked " : "") data-val="true" data-val-required="Please select something" />
                    @item.DisplayText
                </label>
            </div>
        }
    }
    else
    {
        foreach (var item in Model.Options)
        {
            <div class="radio">
                <label>
                    <input type="radio" name="@Model.Name" value="@item" @(Model.Value == item ? "checked " : "") data-val="true" data-val-required="Please select something" />
                    @item
                </label>
            </div>
        }
    }

    @Html.ValidationMessageCustom(Model.Name)
    
</div>

